:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
}

.comment-body {
  display: grid;
  grid-gap: 8px;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-color {
  color: var(--light-transparent-color);
}
