@if (post(); as post) {
  <app-avatar-circle
    class="size32"
    [avatarUrl]="post.author.avatarUrl">
  </app-avatar-circle>
  <main class="post-body">
    <div class="post-header">
      <strong class="post__author">
        {{ post.author.firstName }} {{ post.author.lastName }}
        <span class="post-created-at"> {{ post.createdAt | passedTime}}</span>
      </strong>
    </div>
    <p class="medium-text">{{ post.content }}</p>
    <div class="post-counters">
      <div class="result-icon primary-color">
        <svg icon="comment" class="svg16"></svg>
        <span>{{ comment().length }}</span>
      </div>
      <div class="result-icon">
        <svg icon="like" class="svg16"></svg>
        <span>{{ post.likes }}</span>
      </div>
    </div>

    <div class="post__comments-wrapper">
      @for (comment of comment(); track comment) {
        <app-comment
          [comment] = "comment">
        </app-comment>
      }
    </div>
    <app-post-input
      (created)="onCreated()"
      [isCommentInput]="true"
      [postId]="post.id"
      class="no-title"
    >
    </app-post-input>
  </main>
}

