:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  grid-gap: 16px;
  padding: 20px;
}

.post-body {
  display: grid;
  grid-gap: 12px;

}

.post-header {

}

.post__author {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  color: var(--light-color);
}

.post-created-at {
  color: var(--light-transparent-color);
}

.post-counters {
  display: grid;
  grid-template-columns: 32px 32px;
  height: 38px;
  align-items: center;
  grid-gap: 20px;
  
}

.result-icon {
  display: flex;
  gap: 6px;
}

.primary-color {
  color: var(--primary-color);
}