:host {
  display: block;
  padding: 20px 12px;
  position: relative;
  background: var(--dark-color);
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  padding: 16px 12px;
  grid-gap: 12px;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--light-color);
  font-weight: 700;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  width: 100%;
  border-radius: 2px;
  text-decoration: none;

  &.active,
  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);

    .menu-item > svg {
      color: var(--primary-color);
    }
  }
}

.sidebar__footer {
  position: absolute;
  bottom: 20px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  background: var(--dark-hover-color);
  border-radius: 2px;
  grid-gap: 12px;
  align-items: center;
  width: calc(100% - 20px);
}

.sidebar__footer > img {
  width: 32px;
  height: 32px;
  border: 50%;
} 

.menu-item > svg {
  padding: 1.5px;
  width: 16px;
  height: 16px;

}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subscribers-link {
  color: var(--primary-color);
  text-decoration: none;
}

.to-subscribers-icon {
  color: var(--primary-color);
  width: 18px;
  height: 18px;
}

.username-text {
  font-weight: 700;
  color: var(--primary-color);
}

.settings-btn {
  svg {
    color: var(--primary-color);
    width: 13px;
    height: 13px;
  }
}