:host {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 123px 1fr;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-color);
}

.dropzone {
  border-radius: 2px;
  border: 1px dashed var(--light-color);
  padding: 16px;
  display: grid;
  place-content: center;

  &.fileover {
    border: 1px dashed var(--primary-color);
  }

}

.avatar {
  height: 123px;
  width: 123px;
  border-radius: 50%;
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-icon {
  height: 18px;
  width: 18px;
  margin-bottom: 18px;
  color: var(--light-color);
}

.avatar-input {
  display: none;
}