 :host {
  display: grid;
  padding: 16px;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  grid-template-columns: 32px 1fr 44px;
  grid-gap: 12px;
  align-items: center;
  width: 100%;
 }


 .hidden-textarea {
  background: var(--dark-color);
  resize: none;
  border: none;
  color: var(--light-color);

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}


.title {
  grid-column: 1 / -1;
}


.icon-color {
  color: var(--dark-color);
}