@if (chat(); as chat) {
  <app-avatar-circle
    class="size32"
    [avatarUrl]="chat.userFrom.avatarUrl"></app-avatar-circle>
  <div class="last-message__wrapper">
    <div class="chat-user medium-text">
      {{ chat.userFrom.firstName }} {{ chat.userFrom.lastName }}
      <div>
        {{ chat.createdAt | date: "dd.MM.yyyy" }}
      </div>
    </div>
    <div class="wrapper-last-message">
      <div class="medium-text last-message">
      {{ chat.message ?? '...'}}
    </div>
    @if (chat.unreadMessages){
      <div class="unreaing-message">{{ chat.unreadMessages }}</div>
    }
    </div>
    
  </div>
}
