:host {
  display: grid;
  grid-template-columns: 170px 1fr;
  height: 200px;
  width: 500px;
  border: 5px solid var(--primary-color);
  border-radius: 20px;
  grid-gap: 5px;
  background: var(--dark-color);
}

.data-wrapper {
  display: grid;
  padding: 10px;
  word-wrap: break-word;
  overflow-y: hidden;
  overflow-wrap: anywhere;
  white-space: normal;
  row-gap: 5px;
}

.img-wrapper{
  padding: 10px;
  display: grid;
  justify-content: center;
  row-gap: 15px;
  border-right: 5px solid var(--primary-color);
}

.ul-wrapper {
  list-style-type: none;
}

.img-avatar{
  display: grid;
  place-content: center;
}
