.icon-profile-setting {
  height: 13px;
  width: 13px;
  color: var(--dark-color);
}

.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.to-setting-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 190px;
}

.profile-page__body {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-gap: 64px;
  padding: 24px;
}

.sab-img-list {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.sub-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  height: 36px;
}

.to-subscribers-search {
  margin-left: 8px;
  border-radius: 50%;
  background: var(--light-color);
  width: 14px;
  height: 14px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background: var(--dark-color);
  }

  &:before {
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
  }

  &:after {
    top: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
    left: 50%;
  }
}

.skill-tag-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;

}
