
.login__wrapper {
  display: grid;
  width: 1440px;
  height: 900px;
  place-content: center;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800px;
  margin-bottom: 60px;
}

.login {
  display: grid;
  align-items: center;
  width: 1112px;
  height: 430px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 232px;
}


.login-comtrol-label{
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  margin-bottom: 16px;
}

.input-control{
  margin-top: 8px;
  display: block;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  height: 44px;
  width: 440px;
  padding: 12px 20px;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-color);
}

.icons {
  position: absolute;
  top: 12px;
  right: 20px;
}

.buttom__login {
  width: 100%;
  height: 44px;
  background: var(--primary-color);
  border: 1px solid var(--dark-color);
  font-family: JetBrains Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-top: 16px;

}

.bottom_shadow {
  position: relative;

  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    right: -4px;
    bottom: -4px;
    height: 100%;
    width: 100%;
    background: var(--grey-color);
    border-radius: 4px;
  }
}