@import "fonts";
@import "margins";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --grey-color: #5F646D;
  --dark-hover-color: #161616;

}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100dvh;
  font-family: "JetBrains Mono", sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  background-image: url(/assets/imags/background_login.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.skill-tag {
  padding: 0px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
}

.btn {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
}

.medium-text {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}