<div class="messages-wrapper">
  @if (other()) {
    <div class="wrapper-time">
      <p class="time-messages">Вчера</p>
    </div>
  @for (message of other(); track message.id) {
    <app-chat-workspace-message
      [message]="message">
    </app-chat-workspace-message>
    }
  }
  @if (today()) {
    <div class="wrapper-time">
      <p class="time-messages">Сегодня</p>
    </div>
  @for (message of today(); track message.id) {
    <app-chat-workspace-message
      [message]="message">
    </app-chat-workspace-message>
    }
  }
</div>
<div class="input-wrapper">
  <app-input-message
  (created)="onSendMessage($event)"
></app-input-message>
</div>

